# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3

print(numberFloat)

print(numberFloat)

numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result =+ 2
print(result +2)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [11]:
result_mul =num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [14]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [15]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [16]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my first name : ", name)

print("Full name: ", name, end=" Apol")

This is my first name :  Brandon
Full name:  Brandon Apol

##### String Concatenation

In [20]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [21]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [2]:
# input will always return a string
# name = input("what is your name?")
# print("nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 12
17

##### format()

In [6]:
age = input("What is your age? ")

# result_string = "You are {} {} and you are getting wiser!".format(age,name)
# print(result_string)

result_again =f"{age} is a great time in life!!!"
print(result_again)

What is your age? 12
12 is a great time in life!!!

##### Old Way (python 2)

In [7]:
result_string2 = "You are %s and you look great for your age!"%age
print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [9]:
answer = input("What is the color, year, make and modle of your car?")
print(f"My car is a {answer}.")

What is the color, year, make and modle of your car?red, 1980, camary, Toyota
My car is a red, 1980, camary, Toyota .

### If Statements

In [18]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || or F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print("this is true!")
# else:
#     print("That thing was not true! It is false!")
    
if num2 > num1 or num3 > 0:
    print("num2 is greater")
elif num1 > num2:
    print("Num2 is greater")
else:
    print("equal values")

num2 is greater

##### 'is' keyword

In [ ]:
# The "is" keyword is for checking for the same object, but not the same value

not in use to o much

##### 'in' keyword

In [20]:
#check if a character is in a string

char_name = "Frodo"
if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [22]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [23]:
answer = input("type a word please: ")
if "p" in answer:
    print("Yes, p is in the word")
else:
    print("No, p is NOT in the word")

type a word please: pappaya
Yes, p is in the word

## Using 'and'/'or' with If Statements

In [25]:
num_11 =15
num_12 = 3
num_13 = 10
num_14 =3

#if with "and" statement
if num_11/5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# if with "or" statment
if num_13 > num_14 or num_11 == num_12:
    print("F and T")

True and True
F and T

### Elif Statements

In [28]:
first_name = input("What is your name?")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("name is Brandon")
elif first_name != "Max":
    print("name is not Max")
else:
    print("name is Max")

What is your name?Brandon
name is Brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [29]:
name = "jl"

for letter in name:
    print(letter)

j
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [33]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [34]:
for i in range(2):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4

### While Loops

In [35]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [36]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [38]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("for loop iteration: " , str(i +1))
        
    num += 1

 While loop iteration: 0
for loop iteration:  1
for loop iteration:  2

 While loop iteration: 1
for loop iteration:  1
for loop iteration:  2

 While loop iteration: 2
for loop iteration:  1
for loop iteration:  2

 While loop iteration: 3
for loop iteration:  1
for loop iteration:  2

 While loop iteration: 4
for loop iteration:  1
for loop iteration:  2

### Built-In Functions

##### range()

In [39]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [40]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Lord of the Rings
17

##### help()

In [41]:
#use this function to view more info about a python function 
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [45]:
#check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float")

False
This number is a float

##### abs()

In [46]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [54]:
# use this to log out gracefuly and useful error messages
#does not stop the program!

try:
    input_num = int(input("guess a number"))
    print(f"your number is {input_num}")
except:
    print("that did not work!")

guess a numberaoo
that did not work!

### Lists

##### Declaring Lists

In [55]:
list_1 = []

names = ["max","cindy","kathy","bob","nate","brandon","brandon","brandon"]
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [57]:
print(names[1])

print(names[1:])

print(names[:2])


#print starting at index 1 and going up by 2 IN EACH ITERATION
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

cindy
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [58]:
names.append("brandon")
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'brandon']

##### .insert()

In [59]:
names.insert(3,"devon")
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [60]:
#defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'brandon']


##### .remove()

In [61]:
#value to be removed rather than index

#remove multiple brandons from list
while "brandon" in names:
    names.remove("brandon")
print(names)

['max', 'cindy', 'devon', 'bob', 'nate']

##### del()

In [62]:
#goes by index, rather than value

del(names[1])
print(names)

['max', 'devon', 'bob', 'nate']

##### Concatenating Two Lists

In [66]:
#will append two lists together, will NOT add the values!

list_1 = [0,1,2]
list_2 = [3,4,5]
large_list = list_1 + list_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [64]:
#they can go as deep as you want, this is called nested lists

names = ["max","sam","josh",["sally",["sue","jim"],"tameka"]]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [67]:
#two ways to loop thru a list, one is by index,the other is by using the "in" keyword

#by index
for i in range(len(names)):
    print(names[i])
    
#loop with "in"
for name in names:
    print(name)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [69]:
i = 0
while i >= 0:
    i = i + 1
    cube = i ** 3
    
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [84]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# i = 2
# while i < 101:
#     for num in range(2,i);
#         if i % num == 0:
#             print(i)
#         i = i + 1

def primes_method(n):
    out = list()
    for num in range(2, n+1):
        prime = True
        for i in range(2, num):
            if (num % i == 0):
                prime = False
        if prime:
            out.append(num)
    return out
primes_method(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [73]:
age = int(input("How old are you? "))
if age < 18:
    print("kids")
elif age < 65:
    print("adults")
else:
    print("seniors")

How old are you? 99
seniors